/*Палітра основних кольорів*/
/*Logo-blue color: #2196F3;*/
/*Logo-black color: #000000;*/
/*Logo-white color: #FFFFFF;*/
/*h2-text color: #212121;*/
/*p-text color: #757575;*/
/*footer-header background: #2F303A;*/
/*our team section background: #F5F4FA;*/
:root {
  --Logo-blue-color: #2196f3;
  --Logo-black-color: #000000;
  --Logo-white-color: #ffffff;
  --h2-text-color: #212121;
  --p-text-color: #757575;
  --footer-header-background: #2f303a;
  --our-team-background: #f5f4fa;
}
header {
  display: flex;
  align-items: center;

  background-color: var(--Logo-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
main {
  font-family: Roboto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
footer {
  display: flex;
  max-width: 1600px;
  min-height: 252px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-header-background);
}
address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
/*Logo style*/
nav > a {
  display: block;
  margin-right: 93px;
}
p.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p.logo-portfolio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
p.logodown {
  margin: 0px, 0px, 20px, 0px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
span.logo-blue {
  color: var(--Logo-blue-color);
}
span.logo-black {
  color: var(--Logo-black-color);
}
span.logo-white {
  color: var(--Logo-white-color);
}
nav {
  display: flex;
  align-items: center;
}
/*Загальні параметри контейнера для макета*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-head {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.list > a {
  color: var(--h2-text-color);
}
.list > a:hover,
.list > a:focus {
  color: var(--Logo-blue-color);
}
/*Пошта та телефон в хедері*/
.ul-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.ul-contacts li:not(:last-child) {
  margin-right: 50px;
}
.list-contacts > a {
  color: var(--p-text-color);
}
.list-contacts > a:hover,
.list-contacts > a:focus {
  color: var(--Logo-blue-color);
}
/* nav-block стилі для блоку посилань хедера*/
.nav-block {
  display: flex;
  padding-left: 0;
}
.nav-block li:not(:last-child) {
  margin-right: 50px;
}
/* Оформлення ГЕРОЯ*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--footer-header-background);
  font-family: Roboto;
}
.hero > h1 {
  color: var(--Logo-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  box-sizing: content-box;
  width: 200px;
  height: 50px;
  margin: 30px;
  border: var(--Logo-blue-color);
  border-radius: 4px;
  background-color: var(--Logo-blue-color);
  color: var(--Logo-white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:hover {
  background-color: var(--Logo-white-color);
  color: var(--Logo-blue-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}
/*Оформлення ПЕРЕВАГИ*/
.advantage h3 {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage p {
  max-width: 270px;
  margin: 0;

  color: var(--p-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.advantage ul {
  display: flex;
  margin-top: 94px;
  margin-bottom: 0;
  justify-content: space-between;
}
/* Оформлення ЧИМ МИ ЗАЙМАЄМОСЯ */
.wedo {
  flex-direction: column;
  margin-bottom: 0px;
}
.wedo > h2 {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 0px;
}
.wedo-img a {
  display: block;
  margin-bottom: 0px;
}
.wedo-img {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 0px;
}
/* Оформлення Наша Команда*/
.team {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
  max-width: 1600px;
  max-height: 648px;

  background-color: var(--our-team-background);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team > h2 {
  margin-top: 94px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team > ul {
  display: flex;
  margin-top: 50px;
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.team li {
  max-width: 270px;
  max-height: 368px;

  background-color: var(--Logo-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team li:not(:last-child) {
  margin-right: 30px;
}
.team h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  color: var(--h2-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team p {
  margin-top: 10px;
  color: var(--p-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
/*Елементи підвалу*/
footer > a > p {
  margin-top: 0;
}
footer > div {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 215px;
}
.adr span {
  margin-bottom: 9px;
  color: var(--Logo-white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}
.adr a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
a.active-link {
  color: var(--Logo-blue-color);
}
button.filter {
  padding: 6px 22px 6px 22px;
  color: var(--h2-text-color);
  background-color: var(--our-team-background);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}
button.filter:hover,
button.active:focus {
  color: var(--Logo-white-color);
  background-color: var(--Logo-blue-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: var(--Logo-white-color);
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.5); /* Параметры тени */
}
h2.img-head {
  color: var(--h2-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
p.img-p {
  color: var(--p-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
/* PORTFOLIO - PAGE Styles*/
/* PORTFOLIO - PAGE Styles*/
/* PORTFOLIO - PAGE Styles*/

.no-display {
  display: none;
}
.search-menu {
  display: flex;
  justify-content: center;
  margin-top: 87px;
  margin-bottom: 50px;
}
.search-menu > li:not(:last-child) {
  margin-right: 8px;
}
.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}
.portfolio-projects > li {
  box-sizing: border-box;
  max-width: 370px;
  max-height: 404px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
}
.portfolio-projects > li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-projects > li:nth-last-child(-n + 3) {
  margin-bottom: 101px;
}
.portfolio-projects > li:not(:nth-child(3n + 0)) {
  margin-right: 30px;
}
.portfolio-projects > li > a > h2 {
  margin-left: 24px;
  margin-top: 20px;
}
.portfolio-projects > li > a > p {
  margin-left: 24px;
  margin-top: 4px;
}
